/* page home */

section.banner-mobile {
    display: none;
}

section.banner {
    padding-top: 30px;
}

.banner-cont {
    display: flex;
}

.banner-text {
    width: 40%;
    padding: 50px 20px 0 20px;
    position: relative;
}

.banner-text h1 {
    color: var(--color-1);
    font-size: 32px;
    font-weight: normal;
}

.banner-text p {
    font-size: 14px;
    color: var(--color-1);
    margin: 20px 0;
}

.banner-contato {
    display: inline-block;
    padding: 10px 40px;
    background: var(--color-1);
    color: var(--color-3);
    font-size: 14px;
    text-decoration: none;
}

.banner-contato:hover {
    background: var(--color-2);
    transition: all 0.5s;
}

.banner-links {
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: flex-end;
    padding: 5px 30px;
}

.banner-links a {
    font-size: 20px;
    color: var(--color-1);
    text-decoration: none;
}

.banner-links a:not(:last-child) {
    margin-right: 20px;
}

.banner-img {
    width: 60%;
}

.banner-img img {
    max-width: 100%;
}

section.home-portfolio {
    padding-top: 50px;
}

.home-port-cards {
    display: flex;
    flex-wrap: wrap;
}

.home-port-card {
    width: 33.3%;
    padding: 20px;
    color: var(--color-1);
}

.home-port-card-img img {
    max-width: 100%;
}

.home-port-card-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.home-port-card-info-text {
    width: 60%;
}

.home-port-card-info-text h3 {
    font-size: 16px;
}

.home-port-card-info-text p {
    font-size: 14px;
    margin: 10px 0;
}

.home-port-card-btn {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.btn-ver {
    width: 100px;
    height: 35px;
    border: 2px solid var(--color-1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.home-port-card-btn a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    color: var(--color-1);
    font-size: 14px;
}

.home-port-card-btn a:hover {
    background: var(--color-1);
    color: var(--color-3);
    transition: all 0.5s;
}

.angle-span {
    background: var(--color-1);
    color: var(--color-3);
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.btn-tudo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-tudo a {
    display: inline-block;
    padding: 10px 30px;
    background: var(--color-1);
    color: var(--color-3);
    font-size: 14px;
    text-decoration: none;
}

.btn-tudo a:hover {
    background: var(--color-2);
    transition: all 0.5s;
}

section.home-sobre {
    padding-top: 50px;
}

.home-sobre-cont {
    display: flex;
    align-items: center;
    background: var(--color-1);
}

.home-sobre-img {
    width: 40%;
}

.home-sobre-img img {
    max-width: 100%;
}

.home-sobre-text {
    width: 60%;
    padding: 0 60px;
}

.home-sobre-text h2 {
    font-size: 34px;
    color: var(--color-3);
    font-weight: normal;
}

.home-sobre-text p {
    font-size: 14px;
    color: var(--color-3);
    margin-top: 20px;
    line-height: 30px;
}

section.home-servicos {
    padding: 50px 0;
}

.home-servicos-cont {
    display: flex;
    flex-wrap: wrap;
}

.home-servicos-card-1, .home-servicos-card-2, .home-servicos-card-3 {
    width: 33.3%;
    color: var(--color-1);
    padding: 30px;
}

.home-servicos-card-1, .home-servicos-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #ccc;
}

.home-servicos-card-1 h2, .home-servicos-card-2 h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.home-servicos-card-1 h3, .home-servicos-card-2 h3 {
    font-size: 32px;
    font-weight: normal;
}

.home-servicos-card-3 h2 {
    font-size: 22px;
}

.home-servicos-card-3 p {
    font-size: 14px;
    margin-top: 20px;
}

@media(max-width:768px){

    /* section banner */

    section.banner {
        display: none;    
    }

    /* <-----------------> */

     /* section banner-mobile */

     section.banner-mobile {
        display: block;    
    }

    .banner-bg {
        height: 400px;
        background-image: url('../img/foto1.png');
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.397);
        opacity: 0.6;
        position: absolute;
        z-index: 5;
    }

    .banner-mobile-text {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 10;
    }

    .banner-mobile-text h1 {
        color: var(--color-3);
        font-size: 32px;
        font-weight: normal;
    }

    .banner-mobile-text p {
        color: var(--color-3);
        font-size: 14px;
        margin: 20px 0;
    }

    .banner-mobile-text a {
        display: inline-block;
        padding: 10px 40px;
        border: 2px solid var(--color-3);
        color: var(--color-3);
        font-size: 14px;
        text-decoration: none;
    } 

    .banner-mobile-links {
        position: absolute;
        bottom: 0;
        right: 2%;
        z-index: 10;
    }

    .banner-mobile-links a {
        text-decoration: none;
        color: var(--color-3);
        font-size: 24px;
    }

    .banner-mobile-links a:not(:last-child) {
        margin-right: 20px;
    }
    
    /* <-----------------> */

    /* section home-portfolio */

    .home-port-card {
        width: 50%;
    }

    /* <-----------------> */

    /* section home-sobre */

    .home-sobre-cont {
        flex-direction: column-reverse;
    }

    .home-sobre-img {
        width: 100%;
    }

    .home-sobre-text {
        width: 100%;
        padding: 40px 20px;
    }

    /* <-------------------> */

    /* section home-servicos */

    .home-servicos-card-1, .home-servicos-card-2, .home-servicos-card-3 {
        width: 100%;
        padding: 30px 10px;
    }

    .home-servicos-card-1, .home-servicos-card-2 {
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

    /* <-------------------------> */

}

@media(max-width:568px){

    /* section home-portfolio */

    .home-port-cards {
        flex-direction: column;
    }

    .home-port-card {
        width: 100%;
        padding: 0;
    }

    .home-port-card:not(:last-child) {
        margin-bottom: 30px;
    }

    /* <----------------> */

}